.navbar-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  padding: 0 10px 0 25px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(100, 65, 165, 0.25);
  width: 95%;
  height: 80px;
  border-radius: 15px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  z-index: 99;
}

.navbar-items.visible {
  opacity: 1;
  transform: translate(-50%);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

/* Add styles for the navbar when it's hidden */
.navbar-items.hidden {
  opacity: 0;
  transform: translate(-50%, -100%);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  pointer-events: none; /* Disable pointer events to make the hidden navbar not clickable */
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: end;
}

.nav-logo {
  height: 2em;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav-links {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: black;
  padding: 0.7rem 1rem;
  white-space: nowrap;
}

.nav-links:hover {
  background-color: #6441a5;
  color: white;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.fa-stack[data-count]:after {
  position: absolute;
  right: 0%;
  top: 1%;
  content: attr(data-count);
  font-size: 0.45rem;
  padding: 0.6em;
  border-radius: 999px;
  line-height: 0.75em;
  color: white;
  background: rgba(255, 0, 0, 0.85);
  text-align: center;
  min-width: 0.5em;
  font-weight: bold;
}

.nav-icons {
  padding: 0.7rem 0rem 0.7rem 0.5rem;
  white-space: nowrap;
  color: black;
}

.nav-icons-search-cart {
  padding: 0.7rem 0.5rem;
  white-space: nowrap;
}

.menu-icon {
  display: none;
}

.nav-icons-parent {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-icons-mobile {
  display: none;
}

@media screen and (max-width: 850px) {
  .navbar-items {
    z-index: 99;
    padding: 0 15px;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba(100, 65, 165, 0.37);
    backdrop-filter: blur(7px);
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: -110%;
    align-items: stretch;
    padding: 80px 0 30px 0;
    margin: 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;
  }

  .nav-menu.active {
    left: 0%;
  }

  .nav-links {
    display: block;
    widows: 100%;
    padding: 0.5rem 0;
    color: black;
    font-weight: 700;
  }

  .white-icon {
    color: black;
  }

  .nav-links:hover {
    background: #6441a5;
    color: white;
  }

  .menu-icon {
    display: block;
    margin-left: 3%;
  }

  .nav-icons-mobile {
    display: flex;
    justify-content: flex-start;
  }

  .nav-icons-search-cart {
    display: none;
  }

  .nav-icons-parent {
    display: block;
  }
}
